@font-face {
  font-family: 'Reins';
  src: url('../fonts/Reins-Olstd.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nexa';
  src: url('../fonts/Nexa-regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nexa-bold';
  src: url('../fonts/Nexa-bold.woff') format('woff');
  font-style: bold;
  font-display: swap;
}

:root {
  --bg: #FCFCFD;
  --red:#b91c1c;
  --ocre: #AA8847;

  --heading: 'Reins';
  --text: 'Nexa';
  --text-b: 'Nexa-bold';

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p, input, button, span, td, select {
  margin: 0;
  font-family: var(--text);
}

label, th,h3{
  font-family: var(--text-b);
}

img{
  -webkit-user-drag: none;
}